
<html><!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intelli Bank</title>

	<!-- Custom-Files -->
	<link href="{{url_for('static', filename='css/css_slider.css')}}" type="text/css" rel="stylesheet" media="all"><!-- slider css -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}"><!-- Bootstrap-CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" media="all"><!-- Style-CSS -->
	<link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet"><!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- google fonts -->
	<link href="{{url_for('static', filename='//fonts.googleapis.com/css?family=Niramit:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext,thai,vietnamese')}}" rel="stylesheet">
	<!-- //google fonts -->
	
</head>

<body>

	<div id="page" class="page">

	<!-- header -->
<header>
	<h6 style="color: rgb(255, 255, 255); text-align:right;" align="right">Welcome Anchal Bhalla</h6>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="{{url_for('static', filename='index.html')}}" class="editContent" style="color: rgb(255, 255, 255); font-size: 45px; background-color: rgba(0, 0, 0, 0); font-family: Niramit, sans-serif;"><span class="fa fa-university" style="outline: none; cursor: inherit;"></span>&nbsp;Intelli Bank</a></h1>
			</div>  

			<label for="drop" class="toggle"><span class="fa fa-bars" style="outline: none; cursor: inherit;"></span></label>
			<input type="checkbox" id="drop">
			<ul class="menu ml-auto mt-1">
				
				
				
				
				
				
			</ul>
		</nav>
		<!-- //nav -->
	</div>

</header>
<!-- //header -->


<!-- banner -->
<div class="banner bg bg1" id="home" style="background-color: rgba(0, 0, 0, 0); margin-top: 0px; outline: none; outline-offset: -2px; cursor: inherit;">
	<div class="layer">
		<div class="container">
			<div class="banner-text-w3pvt">
				<!-- banner slider-->
				<div class="csslider infinity" id="slider1">
					<!-- <input type="radio" name="slides" checked="checked" id="slides_1"> -->
					<!-- <input type="radio" name="slides" id="slides_2">
					<input type="radio" name="slides" id="slides_3"> -->
					<ul class="banner_slide_bg">
						<li>
							<div class="w3ls_banner_txt">
								<h2 class="b-w3ltxt text-capitalize mt-md-4 editContent">An AI Powered&nbsp;<span class="editContent">Bank</span></h2>
								<h4 class="b-w3ltxt text-capitalize editContent" style="color: rgb(255, 255, 255); font-size: 38px; background-color: rgba(0, 0, 0, 0); font-family: Niramit, sans-serif;">A first of its kind digital banking experience</h4>
								
								<a href="{{ url_for('services') }}" class="btn btn-banner my-3 mr-2" style="border-radius: 4px; font-size: 15px; background-color: rgba(0, 0, 0, 0);">Read More</a>
								<a href="{{ url_for('index') }}" class="btn btn-banner1 my-3" style="outline: none; outline-offset: -2px; cursor: inherit; border-radius: 4px; font-size: 15px; background-color: rgb(51, 51, 51);">Get Started</a>
							</div>
						</li>
						<!-- <li>
							<div class="w3ls_banner_txt">
								<h3 class="b-w3ltxt text-capitalize mt-md-4 editContent" style="outline: none; cursor: inherit;">Savings <span class="editContent" style="outline: none; cursor: inherit;">Accounts.</span> </h3>
								<h4 class="b-w3ltxt text-capitalize editContent" style="outline: none; cursor: inherit;">Cash Management</h4>
								<p class="w3ls_pvt-title my-3 editContent" style="outline: none; cursor: inherit;">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
								 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubiliacurae, Curabitur quis luctus lectus.
								 Morbi at dui nisl.</p>
								<a href="services.html" class="btn btn-banner my-3 mr-2" style="outline: none; cursor: inherit;">Read More</a>
								<a href="contact.html" class="btn btn-banner1 my-3" style="outline: none; cursor: inherit;">Get Started</a>
							</div>
						</li>
						<li>
							<div class="w3ls_banner_txt">
								<h3 class="b-w3ltxt text-capitalize mt-md-4 editContent" style="outline: none; cursor: inherit;">Debit and <span class="editContent" style="outline: none; cursor: inherit;">Credit Cards.</span> </h3>
								<h4 class="b-w3ltxt text-capitalize editContent" style="outline: none; cursor: inherit;">Cash Management</h4>
								<p class="w3ls_pvt-title my-3 editContent" style="outline: none; cursor: inherit;">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
								 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubiliacurae, Curabitur quis luctus lectus.
								 Morbi at dui nisl.</p>
								<a href="services.html" class="btn btn-banner my-3 mr-2" style="outline: none; cursor: inherit;">Read More</a>
								<a href="contact.html" class="btn btn-banner1 my-3" style="outline: none; cursor: inherit;">Get Started</a>
							</div>
						</li> -->
					</ul>
					<div class="navigation">
						<div>
							<label for="slides_1"></label>
							<!-- <label for="slides_2"></label>
							<label for="slides_3"></label> -->
						</div>
					</div>
				</div>
				<!-- //banner slider-->
			</div>
		</div>
	</div>
</div>
<!-- //banner -->


<!-- about -->

<!-- //about -->

<!-- advantages and details -->

<!-- //advantages and details -->

<!-- statistics -->

<!-- //statistics -->

<!-- products -->
<section class="products py-5 editContent">

	<div class="container py-lg-5 py-3" >
		<h1> Services to meet your needs </h1>
		<div class="row products_grids text-center" style="margin-bottom: 4em;"><div class="col-md-3 col-6 grid4 mt-4 editContent" style="margin-bottom: 4em; margin-left: 4em"><div class="prodct1 border p-3 editContent" style="margin-bottom: 4em;"><a href="{{ url_for('smartAccount') }}"><img src="{{url_for('static', filename='images/a8.png')}}" alt="" class="img-fluid" style="width:80px;height:80px;" style="outline: none; cursor: inherit;">
						<h3 class="mt-2 editContent"> Smart Accounts </h3>
						<span class="fa fa-long-arrow-right"></span>
					</a>
				</div><div class="prodct1 border p-3 editContent">
					<a href="{{ url_for('transactions') }}">
						<img src="{{url_for('static', filename='images/transaction.jpg')}}" alt="" class="img-fluid" style="width:80px;height:80px;" style="outline: none; cursor: inherit;">
						<h3 class="mt-2 editContent"> View Transactions</h3>
						<span class="fa fa-long-arrow-right"></span>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-6 grid5 mt-4 editContent" style="margin-bottom: 4em; margin-left: 4em">
				<div class="prodct1 border p-3 editContent" style="margin-bottom: 4em;">
					<a href="{{ url_for('loan') }}">
						<img src="{{url_for('static', filename='images/a2.png')}}" alt="" cclass="img-fluid" style="width:80px;height:80px;" style="outline: none; cursor: inherit;">
						<h3 class="mt-2 editContent" style="outline: none; cursor: inherit;">Apply Loans</h3>
						<span class="fa fa-long-arrow-right" style="outline: none; cursor: inherit;"></span>
					</a>
				</div><div class="prodct1 border p-3 editContent" style="margin-bottom: 4em;">
					<a href="{{ url_for('bills') }}">
						<img src="{{url_for('static', filename='images/a4.png')}}" alt="" class="img-fluid" style="width:80px;height:80px;" style="outline: none; cursor: inherit;">
						<h3 class="mt-2 editContent">Custom Payments</h3>
						<span class="fa fa-long-arrow-right" style="outline: none; cursor: inherit;"></span>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-6 grid6 mt-4 editContent" style="margin-bottom: 4em; margin-left: 4em">
				<div class="prodct1 border p-3 editContent" style="margin-bottom: 4em;">
					<a href="{{ url_for('policies') }}">
						<img src="{{url_for('static', filename='images/policies.png')}}" alt="" class="img-fluid" style="width:80px;height:80px;" style="outline: none; cursor: inherit;">
						<h3 class="mt-2 editContent">Explore Policies</h3>
						<span class="fa fa-long-arrow-right" style="outline: none; cursor: inherit;"></span>
					</a>
				<!-- </div><div class="prodct1 border p-3 editContent" style="margin-bottom: 4em;">
					<a href="{{ url_for('chatbot') }}">
						<img src="{{url_for('static', filename='images/chatbot.png')}}" class="img-fluid" style="width:80px;height:80px;" style="outline: none; cursor: inherit;">
						<h3 class="mt-2 editContent">Virtual Agent</h3>
						<span class="fa fa-long-arrow-right" style="outline: none; cursor: inherit;"></span>
					</a>
				</div> -->
			</div>
			<!-- <div class="col-md-3 col-6 grid7 mt-4 editContent" style="margin-bottom: 4em;">
				<div class="prodct1 border p-3 editContent" style="margin-bottom: 4em;">
					<a href="#">
						<img src="bundles/images/transaction.jpg" alt="" class="img-fluid" style="width:80px;height:80px;" style="outline: none; cursor: inherit;">
						<h3 class="mt-2 editContent" style="outline: none; cursor: inherit;">Credit Cards</h3>
						<span class="fa fa-long-arrow-right" style="outline: none; cursor: inherit;"></span>
					</a>
				</div><div class="prodct1 border p-3 editContent" style="margin-bottom: 4em;">
					<a href="#">
						<img src="bundles/images/policies.png" alt="" class="img-fluid" style="width:80px;height:80px;" style="outline: none; cursor: inherit;">
						<h3 class="mt-2 editContent" style="outline: none; cursor: inherit;">Credit Cards</h3>
						<span class="fa fa-long-arrow-right" style="outline: none; cursor: inherit;"></span>
					</a>
				</div>
			</div> -->
		</div>
	</div>
</section>
<!-- //products -->

<!-- stats section -->

<!-- //stats section -->

<!-- footer-top -->

<!-- //footer-top -->

<!-- footer -->
<footer class="footer py-5 editContent">
	<div class="container pt-lg-4">
		<div class="row">
			<div class="col-lg-3 col-sm-6 footer-top">
				<h4 class="mb-4 w3f_title editContent">Contact Info</h4>
				<ul class="list-w3">
					<li class="editContent" style="outline: rgba(233, 94, 94, 0.5) solid 2px; outline-offset: -2px; cursor: pointer;"><span class="fa mr-1 fa-map-marker" style="outline: none; cursor: inherit;"></span>2130 Fulton Street, Dubai, UAE</li>
					<li class="my-2 editContent"><span class="fa mr-1 fa-phone" style="outline: none; cursor: inherit;"></span>1-600-1234-567</li>
					<li class="my-2 editContent"><span class="fa mr-1 fa-phone" style="outline: none; cursor: inherit;"></span>1-600-1234-567</li>
					<li class="d-flex editContent"><span class="fa mr-1 fa-envelope" style="outline: none; cursor: inherit;"></span><a href="mailto:info@example.com">info@intellibank.com</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-sm-6 footv3-left mt-sm-0 mt-4">
				<h4 class="mb-4 w3f_title editContent" style="outline: none; cursor: inherit;"> Share Holders</h4>
				<ul class="list-w3">
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="editContent" style="outline: none; cursor: inherit;">
							Shareholders Information
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="editContent" style="outline: none; cursor: inherit;">
							Stock Information
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="editContent" style="outline: none; cursor: inherit;">
							Financial Results
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="editContent" style="outline: none; cursor: inherit;">
							Investors faq's
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="editContent" style="outline: none; cursor: inherit;">
							Regulatory Section
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
				<h4 class="mb-4 w3f_title editContent" style="outline: none; cursor: inherit;">Media Center</h4>
				<ul class="list-w3">
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Press Release
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Vision &amp; Values
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Winning Awards
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Banking
						</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
				<h4 class="mb-4 w3f_title editContent" style="outline: none; cursor: inherit;">Resources</h4>
				<ul class="list-w3">
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							24/7 Help Line
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Nearest Branch
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Guidance
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Download
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Mobile App
						</a>
					</li>
				</ul>
			</div>
			
			<div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
				<h4 class="mb-4 w3f_title editContent" style="outline: none; cursor: inherit;">Other Links</h4>
				<ul class="list-w3">
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Careers
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							All faq's
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Bank Group
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Credit Cards
						</a>
					</li>
					<li class="editContent" style="outline: none; cursor: inherit;">
						<a href="#" class="my-2" style="outline: none; cursor: inherit;">
							Loans
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- //footer bottom -->
</footer>
<!-- //footer -->

<!-- middle -->
<section class="middle py-4 editContent">
	<div class="container">
		<p class="editContent"><strong class="mr-2 editContent">Our Offerings &amp; Calculators:</strong> Personal loans, Home and car loans, loan calculators, Savings accounts, Credit cards, Insurance.</p>
		<p class="editContent"><strong class="mr-2 editContent" style="outline: none; cursor: inherit;">Bank Smart:</strong> Internet Banking, Online Banking, Cardless transactions, Fixed deposits, Pin generation, Card active status.</p>
	</div>
</section>
<!-- //middle -->

<!-- copyright -->

<!-- //copyright -->

<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-angle-up  mb-3" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
	</a>
</div>
<!-- move top --></div><!-- /#page -->


</body>

</html>